footer {
    position: static;
  
  
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 16px;
  color:#f4f6ff;
    
    
}
#table-scroll {
  height:500px;
  overflow:auto;  
  margin-top:20px;
}




